[core]
	excludesfile = /Users/devneill/.gitignore_global
	pager = delta
[user]
	name = Dev Neill
	email = me@devneill.com
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIIjh3c+RYz0V4o+A+Jdgz7AYZY5+5k3L6OKu11KIwQVL
[init]
	defaultBranch = main
[diff]
	algorithm = histogram
[help]
	autocorrect = prompt
[pull]
	rebase = true
[push]
	default = current
	autoSetupRemote = true
[merge]
	conflictstyle = zdiff3
[color]
	ui = auto
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	line-numbers = true
	side-by-side = true
